Body {
	Color: ;
	Background-color: ;
	Text-align: left;
	}
#abot {
	color: ;
	background-color: ;
	text-align: center;
	font-size: 50px;
	font-family: cursive;
}
#empathy {
	text-align: center;
	font-size: ;
}
#paragraph {
	font-size: ;
	text-align: center;
}
#ep {
	text-align: center;
	font-size: ;
}
